streamlit
pandas
pathlib
langchain
langchain-community
langchainhub
langgraph
sqlalchemy
mysql-connector-python
langchain-experimental
langchain-groq
langchain-openai
plotly
plotly
datetime
numpy
tabulate